#Basics{
    background-color: aqua;
}

#types{
    background-color: aquamarine;
}

p{
    font-size: 20px;
}

#understand{
    background-color: beige;
}

#setup{
    background-color: lightcoral;
}

#mousekeyboard{
    background-color: lightskyblue;
}

#account{
    background-color: lightgoldenrodyellow;
}

a{
    color: black;
}

#internet{
    background-color: lightgray
}
